@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap");

.error {
  width: 80%;
  margin: 150px auto;
  color: rgb(59, 58, 58);
  display: grid;
}

.error__message {
  margin: 30px auto;
  color: rgb(121, 120, 120);
  font-family: "Cabin Condensed", sans-serif;
  font-size: 30px;
}

.error__button {
padding: 1.3em 3em;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: rgb(237, 135, 234);
background-color: #fff;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

.error__text {
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 150px;
  align-items: center;
  align-content: center;
  width: 100%;
}


.error__404 {
  margin: 100px auto;
  display: flex;
  list-style: none;
  font-family: "Cabin Condensed", sans-serif;
  position: relative;
}

.error__mouth {
  writing-mode: vertical-lr;
  display: block;
  position: absolute;
  top: 160px;
  right: 30px;
}
.error__mouth1 {
  display: block;
  position: absolute;
  top: 145px;
  right: 60px;
}
.error_4 {
  line-height: 10%;
}
