.detail {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  background-size: cover;
  /* background-color: black; */
  background-image: linear-gradient(to right top, #cdcdc9, #d1cecb, #d2cfcf, #d2d0d1, #d2d2d2);
}

.detail__card {
  width: 350px;
  height: 420px;
  margin-top: calc(50vh - 150px);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eeecec;
  color: #0e4231;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.detail__image {
  position: absolute;
  top: -230px;
  filter: drop-shadow(6px 29px 10px #7b7575);
}

.detail__name {
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
}

.detail__hp {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.detail__hp--bg {
  height: 10px;
  width: 200px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(215, 210, 210);
}
.detail__hp--color {
  height: 10px;
  position: absolute;
  border-radius: 10px;
  background-color: #9cdda4;
}


.detail__info--row1 {
  margin: 30px auto 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.detail__info--row2 {
  margin: 0px auto 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.detail__item {
  display: flex;
  flex-direction: column;
}

.detail__line {
  margin: 10px auto;
  width: 80%;
  border: none;
  border-top: 1px solid rgb(208, 202, 202);
}

.detail__types {
  margin: 5px auto 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.detail__type {
  border-radius: 10px;
  padding: 5px;
  width: 80px;
}

/* ------- back button------ */

.detail__back {
  position: fixed;
  top: 10px;
  left: 110px;
}

.detail__button {
  padding: 1.3em 3em;
  font-size: 10px;
  letter-spacing: 2.5px;
  color: #0e4231;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.detail__button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
