* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
.home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, #fbcfe4, #e7b5da, #cc9ed4, #a98ad1, #7b79ce);
  overflow-y: scroll;
}

.home__cards {
  margin: 20px 320px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.home-create-button {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fbfbfb;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.home-create-button {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.home-create-button {
  transform: translateY(-1px);
}

.titulo-home {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  color: rgb(255, 254, 254);
}

.home__noresults {
  margin: 250px auto;
  font-family: "Lato", sans-serif;
}

.home__noresults button {
  margin-top: 40px;
}

@media screen and (max-width: 1291px) {
  .home__cards {

    grid-template-columns: repeat(2, 1fr);
  
  }

}
@media screen and (max-width: 986px) {
  .home__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .home__cards {
    margin: 0px 240px;
  }
}

@media screen and (max-width: 499px) {
  .home__cards {
    margin: 0px 215px;
  }
}
@media screen and (max-width: 486px) {
  .home__cards {
    margin: 0px 120px;
  }
}

@media screen and (max-width: 425px) {
  .home__cards {
    margin: 0px 80px;
  }
}
@media screen and (max-width: 416px) {
  .home__cards {
    margin: 0px 90px;
  }
}

@media screen and (max-width: 488px) {
  .home__cards {
    margin: 0px 70px;
  }
}