.navbar {
  position: fixed;
  height: 95%;
  width: 220px;
  background-color: rgb(36, 41, 112, 0.8);
  z-index: 100;
  border-radius: 10px;
  margin: 20px;
}

.navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 80%;
  gap: 10px;
  padding: 10px;
}

.navbar__searchbar {
  margin-top: 200px;
}

.navbar__create {
  margin-top: 40px;
  height: 60px;
  width: 200px;
  font-size: 17px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 11px;
  border: none;
  outline: none;
  background-color: rgb(255, 228, 72);
}

.navbar__create:hover {
  transform: scale(1.1);
}


.navbar__reload {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 15%;
  z-index: 100;
}

.navbar__select {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

select {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 60px;
  width: 200px;
  background-image: var(--gradient-buttons);
  color: white;
}

@media screen and (max-width: 599px) {
  .navbar {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 499px) {
  .navbar {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 486px) {
 
  .navbar {
    position: fixed;
    left: -190px;
    transition: left 0.3s ease;
margin-top: 20px;
  }

  .navbar:hover {
    left: 0;
  }
}