.pg {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  position: absolute;
  bottom: 30px;
  left: 6.5%;
  z-index: 100;
  font-family: "Lato", sans-serif;
}

.pg__arrows {
  font-size: 14px;
  color: white;
  padding-left: 7px;
}

.pg__numbers--underline {
  font-size: 16px;
  color: white;
  text-decoration: underline;
  padding-left: 7px;
}

.pg__numbers--standard {
  font-size: 14px;
  color: white;
  padding-left: 7px;
}

@media screen and (max-width: 1291px) {
  .pg {
    left: 8.5%;
  }
}

@media screen and (max-width: 770px) {
  .pg {
    left: 12.5%;
  }
}
@media screen and (max-width: 486px) {
  .pg__arrows, .pg__numbers--underline, .pg__numbers--standard {
    text-shadow: 1px 1px 2px black;
  }
}