@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Righteous&display=swap');
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  --nav-main: #242970;
  /* --gradient: linear-gradient(to right top, #e52692, #de48aa, #d560be, #ca74cf, #bf86dc, #b685e1, #ab84e6, #9e84eb, #8c73ee, #7562f2, #5852f5, #2543f9);
}; */
  --gradient: linear-gradient(to bottom, #fbcfe4, #e7b5da, #cc9ed4, #a98ad1, #7b79ce);
  --gradient-buttons: linear-gradient(to right, #fbcfe4, #e7b5da, #cc9ed4, #a98ad1, #7b79ce);
}